<h1  id="header4">
      QUAXAMEDICS © 
        </h1>
        <h1 id="tituloEditar">Editar evento</h1>

<%= render 'form', event: @event %>


<div class="botonesEditar2">
<%= link_to 'Show', @event %>    |
<%= link_to 'Back', events_path %>
</div>

<div id="logoMedico7"> 
        </div>

        <h3  id="pieContact6">
        COPYRIGHT © 2021 - QUAXARMEDICS - COATZACOALCOS,VERACRUZ,MÉXICO
        </h3>