<h1  id="header5">
      QUAXAMEDICS © 
        </h1>

        <h1 id="tituloNuevoEvento">Nuevo evento</h1>

<%= render 'form', event: @event %>
<div class="botonesEditar2">
<%= link_to 'Back', events_path %>
</div>

<div id="logoMedico8"> 
        </div>

        <h3  id="pieContact5">
        COPYRIGHT © 2021 - QUAXARMEDICS - COATZACOALCOS,VERACRUZ,MÉXICO
        </h3>